<?xml version="1.0" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="logconsole" xsi:type="Console" />
        <target name="logfile"
                xsi:type="File"
                fileName="${basedir}/logs/FBDashboard.log"
                keepFileOpen="true"
                archiveNumbering="Rolling"
                archiveOldFileOnStartup="True"
                maxArchiveFiles="10"
                encoding="utf-8" />
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>